
snippet GD "Grußformel deutsch informell" !b
Gruß
Oliver
endsnippet

snippet GDL "Grußformel deutsch lang" !b
Viele Grüße
Oliver Breitwieser
endsnippet

snippet GE "Grußformel english informell" !b
Best regards,
Oliver
endsnippet

snippet GEL "Grußformel english lang" !b
Best regards,
Oliver Breitwieser
endsnippet

snippet GDF "Grußformel deutsch formal" !b
Mit freundlichen Grüßen
Oliver Breitwieser
endsnippet
