
snippet GD "Grußformel deutsch" !b
Gruß
Oliver
endsnippet

snippet GE "Grußformel english" !b
Best regards,
Oliver
endsnippet

snippet GDF "Grußformel deutsch formal" !b
Mit freundlichen Grüßen
Oliver Breitwieser
endsnippet
