snippet dsc "description"
h3. Description
$1
endsnippet

snippet ac "Acceptance Criteria" b
h3. Acceptance Criteria
* $1
endsnippet

snippet dep "Dependencies" b
h3. Dependencies
* $1
endsnippet

snippet nt "Notes" b
h3. Notes
* $1
endsnippet

snippet oof "Out of Scope" b
h3. Out of Scope
* $1
endsnippet

snippet id "implementation details"
h3. Implementation Details
$1
endsnippet
